/* CSS Document */
* {
  box-sizing: border-box;
}

/* Stick to the top */
.stick_top{
	position: sticky;
    top: 0;
}

header{
	height: 100px;
	font-size: 25px;
	background-color: darkgray;
	margin: 0;
}

#main_title{
	height: 100px;
	max-height: 100px;
	margin: 0;
}

#header_logo{
	width: 100%;
	height: auto;
}

.navigation{
	position: sticky;
    top: 1;
	margin-top: 50px;
	font-size: 1.5em;
	text-transform: uppercase;
	border-style: solid;
	border-width: 2px 0px;
}

ul.navigation{
	list-style: none;
	height: 50px;
	padding: 0% 5%;
    margin: 0;
	
}

ul.navigation a {
	text-decoration: none;
	color: black;
}


body {
	color: black;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  background-color: darkgray;
}

main{
	
}

.center {
	align-items: center;
    display: flex;
}


h1 {
	line-height: 100px;
	align-items: center;
  text-align: center;
}


p {
  font-size: 20px;
}
.nav-bar {
	border: solid thin;
}

.theme{
	
	background-color: white;
	border: solid thin;
	margin: 10%;
	padding: 5%;
}

.lyrics{
	background-image: linear-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 0px);
	background-size: 100% 2em;
	background-position-y: 24px;
    line-height: 2em;
}

.lyrics_title, p.bar{
	margin-left: 5%;
}

p.bar{
	font-size: 1.2em;
	text-align: left;
}



.r_1{
	background-color: red;
}

.r_2{
	background-color: blue;
}

[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

 /* For mobile phones: */
[class*="col-"] {
  width: 100%;
	margin 0;
	padding: 0;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
} 
